<!-- <div class="container">
  <h2>Observables IN Angular</h2>
  <button (click)="getAsyncData()">Get Data</button>
  <div class="data-list" *ngFor="let x of data">{{ x }}</div>
</div>

<div class="container">
  <h2>Create Observable Using fromEvent Operator</h2>
  <button #createitemref>Create New Item</button>
  <div id="data-id"></div>
</div>

<div class="container">
  <h2>Create Observable Using Of/From Operator</h2>
  <h2>Modify Observable Data Using Map & Filter Operator</h2>
  <button (click)="getDataFromOfOperator()">Create New Item</button>
  <div id="data-list"></div>
</div> -->

<app-newtask></app-newtask>
<app-showtask></app-showtask>