.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.col{
    padding: 20px;
    border: 1 px solid black;
    text-align: center;
}

button{
    background-color: rgb(0, 195, 255);
    color: white;
    box-shadow: 0 0 5px rgba(131, 217, 11, 0.78);
    cursor: pointer;
    border-radius: 50px;
    margin: 5px;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 255, 140);
    box-shadow: 0 0 10px rgba(60, 232, 255, 0.78);
    transition: 0.5s;
    transform: scale(1.05);

}

button:focus{
    background-color: rgb(255, 255, 255);
    color: black;
}

h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


